.category {
    .category-list {
        width: 100%;
        padding: 20px;

        .swiper {
          z-index: -1;
    
          .category-item {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
    }
    
  }
  
  
    
    
    